@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
  --primary: #0077c8;
  --secondary: #00a0e3;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: var(--font-inter), Arial, sans-serif;
}
